body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: black;
}

h1 {
  text-align: center;
}

form {
  max-width: 800px;
  margin: 0 auto;
  background-color: #eee;
  padding: 20px;
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
textarea,
input[type="password"],
input[type="file"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}







form {
  border: 1px solid #212121;
  padding: 20px;
  margin-top: 20px;
}

form label {
  color: white;
}

.my-form {
  background-color: #212121;
  border: 2px solid black;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.my-form label {
  display: block;
  margin-bottom: 10px;
  color: white;
}

.my-form input[type="text"],
.my-form textarea,
.my-form input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.my-form #button-btn {
  background-color: darkgray;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.my-form #button-btn:hover {
  background-color: darkgray;
}

.my-form #button-btn:active {
  background-color: #333;
}






@media only screen and (max-width: 600px) {
  .my-form {
    width: 90%;
  }
}

  